<div class="row">
<div class="col-md-8 offset-2">
<div class="email enter-choose " routerLink="../with-email">
  <img  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJ
      cEhZcwAADsMAAA7DAcdvqGQAAARbSURBVGhD7ZjbT1xVFMZ5M/E/8C9pE31oU/qkDZamWsNEilWrKEpomhIvNGmot15iiVqNt1YxUtISIibY2BpJJCkMaimMZWa4z
      H3OPgyXysyjLPc3OefMnpk1cGY4h/JwVvJLJsPa3/q+OXvvAeq88sorr7zaEbV+6dIjWirlSyQS7+5E4A0eDbt8ab1XA6K5iTJd71A2maBcLrejgCd4E80+Er3fTxm
      2iyt9re+W1vAkmYimZ2n1t9us4MMAXuBJ9Sg93zTsF0q0t62rTSaZ8x9SLpNhxbcFORseOG+i400y7BdKHGtmm4F+7Cg9mPDzg1wEMzGb8wTg2bBfqNTJE2yzxdN
      P0fKXX1B2dZUd6iSYgVmYyXoxgGfDfqH89fXr6Y52doGK3tZKa8EZ1oATQBszuNkq6RPtNLF/f3mQ8T171sd37aLIG22kPdPILjYRhw/SSv81ymWzrJmakFrQhDY
      300J6g0d49e/dWzkICBxqJNH6Mi+ksPjWKVqLxXhjVQANaHEzVOAJ3kyfmwYBE088TukL50g7eIAVtXjuMD349SZr0A5YCw1W2wQeLp7Pe1I92goCAv39FL19i8
      QLlW80k6UPzlJW11mzHOjFGk5LBbOTI79TcGCgyBuwHWTmxg0KBoMUvjdJ4r1udpCK3vI8/Tt2hzWugh70choq+vtnKSYPfyQS2VoQLJ6fn8+HAYmB66Qd2WQb4
      Jr+/FPKrqyUBcB7+Nlm12p+xk+D+QAmWw4CkdnZWSvMPL6kTnbwBhT01uO0Fpi2QuA13uN6VaAdn7xbFMKxICAcDlthgvfvU/qbr0hrbGDNmIhDDbTy4w958Jrr
      sZBa+tVvKSJ3gBrAxLEgCwsLFAqFCmEk0ZEREsdf5I1VATSSo6NFxktxLAhQz4vJbCBA4sJHrEE76BfPUVR+QOocDkeDAC4MSPw8RMJ3hDXLke/9ZbhMvxKOBw
      Hq4VeZ++tPEja+ofW3Oyk+PcVqV8KVIKDo8KvMzFC69zv2dya8p8uDH5HnjdPcCNeCgIphJJHRP0i89ooVQn/9VUqOj7E6dnA1CG4yLoRJSF4EWs/HpH/SQ7G5OVbD
      Lq4GATj8pdeyCZ5YPB5n11WL60HAnPy0S0PgaUWjUba/FrYlCFBvMicDmGxbEIAn49RWKmXbgiQSCVpcXHTlaQDXg8C4pmm0vLycx60wrgaJyb+1M5mMFcIEwbj+r
      eBaEGylpaWlshAmyWSSXVcrrgRRt9JGOHnwbQfx19f/V9pYGqTSVqoEep06L1wQ9h90fzc1ZUob1SCpVIo1uxm6rhcZqhUuyN2WlvIg011dp8Z37y5qNIMIIViT
      dkmn02XGqqUsiPQa6uu7Y9gvrsnOzh7/vn3WFgsPDla1lTYClwNn0C5qEGyp4JUrC4Ztvi
      ZOn350qrv7wL0zZ3zRsbGj8mD7HOIlefg/k+fsci1EJie/lmGuh4eGLv8zPPyYYdcrr7zyyquHWXV1/wNpZ38BW+CXNQAAAABJRU5ErkJggg==">
</div>
<div class="phone enter-choose " routerLink="../with-phone">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAX
        NSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAITSURBVGhD7dnPS1RRG
        MbxySitkFIQRCXITb/IlUohuHTpH9AmsY21TCJIF9E22kUEggilOyGoEBFBVMhFiLsW1koQiYjyF6SUfh/ow
        HB5Z4aanPseuA98cDOL5/XOPXfOubksWbIcSar//I0yDXiKr/iJR4gundjAQUIPoslVfEdyCPmIE3CfM1iFN
        UQwCPcZglU+3w80wm20Mn2DVT5pBG7TDau05Rfa4TK3YZUu5D2OwV3uwCpczC24Sy+sssWs4yRcpRVW2VIuw
        10+wypbyBrcXRHlMazChdyEy5zHHqzSSfNwuWqF6GFnFc+3jza4jq7KNqwBgreIIg9gDRBMIorop/oHWEOI7
        iPtWaLIJezAGkS09DYhivTBGiJYwmlEkWewhgjewOVDMRmVnIU1RPAKrp8pIWdR7OaXURyH++h4qNR+/jVq4
        D4t0GplDRHMoR5WqnAXy5hGF1LLFXyBNUTwCTpWys8NaID8z/3GBFJbxjtQ6qBiE/ehDdtLqLT1OdnCQ6Sy+
        l2DdohWsX+le1CDVzwXoK+RVaocU7iIikaHdSuwCpVDB+fDqGjOYQFWoXLpvK2iOYVxWGXKkdp2+h60g7RK
        /a1d1CG1XMf/WASeIPXU4jl0TmyVLEVbBFev/PTwXIRVtpB30D/CZfTaTgWLXSG9r9SLpCh+RTejHy+gB98
        MxjAAbReyZMmSJYvX5HKHeRPJKz56liYAAAAASUVORK5CYII=">
</div>

<div class="git enter-choose " routerLink="with-git">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyC
  AYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMA
  AA7DAcdvqGQAAAQ5SURBVGhD7dlZqFVVHMfxW1Y2UWphFBEVKSqK0UBz0EBFllAOKAri
  SIRYBFEU0UsPzURU1EMPQfVQREUWiVhpD0FYNhnRPFHRTCPNfb90FmzW+e99977ufZS4
  P/jAvfecvdY+++y91n+tOzSa/3EOwRLcg2fxGX7AP/gT3+ItPIbrcCb2xA6RCbgEm+EJ
  N/ULHsA52AkDz/64AemKt+EVzMVAPpCdrMRXiE6mDd6WU9FZ9sNaRJ237VesQuuZgg8R
  ddqle7ELWskx+BpRR4PwBHbDNmUavkTUwSA9hDEYUXwmPkbU8PZwMxrH0anqwf4Nf2R
  /a8PPwd+SvzEbjeIQGzWWnA+/6sNxGd5B9D45ozvxRa95Me7DWdgHtvkCovfK29xJuFa
  8paoe7t+xM4rxYbwW7+EOnI2DUXxIPVHnh4vwNF7GdOS5HFG/yd2oFWfsqIHEq9JlliH
  qN7Fum4TK+LX9iKiB5Ht0GSfCqN8i55fKrEF0YG48usqNiPoscuYfh9K8hOjA3BnoKtZ
  aUZ+50hLG9UR0QMR1R1dxwIj6zD2FMJ5cdEDuDeyKrrIAUb85lxDhebiyiw7IdVKVFuLQ
  /hGivnNHoS8bEb25yNnVRVXXca6I+s8tRF8+RfTmIq/UIHIpov5z16AvdZatr2MQuRhR/
  7mwkCy+wTLEGul9fNH7WW9iEHF2d0NDz2M9nuv9/i6+ged5F/ri/e+LY3usuSwK5QSYjH
  hd0CCTcXTP6XDr6LTe75YnV6H0g3wHX4zKc8sW96nclzoVXcYlxDo4n1jXlVXOuh598b
  bxxVswD8fiADgcWrkeCK+GQ16XWzZOzEfCO2EiUnlvNX0yFiOV+u6p9cW1sS8+ApeWL6J
  smbsaXcSTjZYQVryfwOflfqT1zyz05UrkDZSxYb+1NuM37qgY9Rf5Cz7HfTkR0QFlHBwc/
  vbGtuZcfI6onzKvIox1S9ma2ecnjWo5T8DV4WFoEi+AdVXdajd3O0rjhnJ0kPXVDHgVoteT
  t/EgrsYiHATjw3oCXO+4FLYccgMjaqOuytHzeEQH+W1cgH3xWu9vVZ6Bo0+eC+EKMzqmCdf
  7w6ZsceW47valI4uza/QebULVzuBxqNr2qWMFhs0cRAfLK2qc4Z1dH8XD8Ja8E9ZIlUvQXq5
  A1H4d7kHvgVp5ElEjG9BG/MasFKI+hnMeaudQlH39S9FGbkPUfhUn68Yp25bxwfeWcjfSSTE
  JZ9mKzEfUfhln9jQKNs5wm3VFW9EkDp9RO5Gf4PA/4jj+P46o8ZzDcpNYAEbt5CyHGm9eR/H
  BdKM56qSoiw/i8qHpLVsZy3bXx2Vlitr+ID4TlvOdxH8nlG3VtPlBHJ2shjuNxd5NyFeSTT/I
  SSgerw/QaJ5oI0fgVqQlsht8TeLOfzp2C5Zjd2y37AXnhNplQyEzccp/P45mNDtghob+BWm8v
  kDPJb3BAAAAAElFTkSuQmCC">
</div>

  <div class="facebook enter-choose " routerLink="with-facebook">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAA
  AyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZc
  wAADsMAAA7DAcdvqGQAAAIPSURBVGhD7ZnLSwJRGMWl/ojqj9GpVtEDZgTtvWgh
  VKsWQcuQWkUPCAqEoNBdrcqZygKF3mEPMip30SIqjKDIIiJvc/VzpPwEnSHvTNw
  Dv5V3jufMfSzm2ri4uLj+l1yuxUpBCrY5JCXgEJXNMuO3O5VW2/BwBcTRJ7u0Vu
  MQ5aggKYQxh4JLroZYpYnOhDoLB4gpK/Z0zQxdTogZU9LLrFTRPYGZsYTuGYhXv
  ARRCWNmTFEzQbzi5ZDkbdSMITQTxCtef12koz9CRiZPyfTcBfH54xp9Q7voeIqp
  irg9YXIceySF5AvE0ecopinS2Bkit/dJiIzLEkVm5y8hbmFZosjxWf6S+vpKkfO
  rJ3J0lkjjnThFn6WYpsjdwxvEz4nOEjYWwzRFnl8+IH5OQ6NRdCyGaYq8Jj8hfk
  6WKFLnXCXtvRGN5Ft+kbGZ2I8xTV0bqBeFWRF63Jaq0SkTbnY9RTyDO6gXxTJFU
  ilCGtrXUS+KZYo8JN5RnyzMitQ6FdLcvaGBnVre8RPtd1oc88nCrMhvLHv8/oYX
  AXgRzMwIvAjAi2BmRuBFAF4EMzMCkyJ/8cnUaBF9n0xFxY+aGWApeE1WQjc/6Bn
  YQsdi6PuIbcJrBUGSXRCveGWu3JS9fDNm6LvooYKrt33EtNzs1rcsV0EsnVLfgl
  rGrZotwAVl2cj8p+w2fBnKxcXFZTLZbN9S86sn1aGunQAAAABJRU5ErkJggg==">
  </div>

</div>
</div>
