<form (ngSubmit)="changeEmail(this.changeEmailForm)" [formGroup]="changeEmailForm">
  <div class="form-group col-md-6 offset-3">
    <label for="new-email">New email</label>
    <div class="alert alert-danger col-sm-12"  *ngIf="formErrors.email">
      {{formErrors.email}}
    </div>
    <div class="alert alert-danger col-sm-12"  *ngIf="issetEmail">
     Это ваш текущий email.
    </div>
    <input (keyup)="confirmEmail()" type="email" class="form-control" id="new-email"
           placeholder="New email" formControlName="email">
  </div>
  <div class="form-group col-md-6 offset-3">
    <button routerLink="/system/profile/edit" class="btn btn-outline-primary">К профилю</button>
    <button type="submit" class="btn btn-primary col-md-4 offset-5" [disabled]="!changeEmailForm.valid || issetEmail">Изменить</button>
  </div>
</form>
