<div class="col-md-2  nav-left">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link " routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" routerLink="/system/home" role="tab" aria-controls="v-pills-home" aria-selected="true">Главная</a>
      <a class="nav-link" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill" routerLink="/system/profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Профиль</a>
      <a class="nav-link" routerLinkActive="active" id="v-pills-messages-tab" data-toggle="pill" routerLink="/system/chat" role="tab" aria-controls="v-pills-messages" aria-selected="false">Чат</a>
      <a class="nav-link" routerLinkActive="active" id="v-pills-settings-tab" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
  </div>
<router-outlet></router-outlet>
